@{
    ViewBag.Title = "Lynx Magnus";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-6">
        <div class="panel app-link">
            <div class="panel-body">
                <h3>Dream League</h3>
                <p>Private fantasy football league</p>
                <a class="btn pull-right btn-primary" href="https://dreamleague.eu">Launch <span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel app-link">
            <div class="panel-body">
                <h3>Power Lines</h3>
                <p>Calculate odds lines for european football</p>
                <a class="btn pull-right btn-primary" href="https://lynxmagnus.com/powerlines">Launch <span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel app-link">
            <div class="panel-body">
                <h3>Team Picker</h3>
                <p>Android&trade; application to generate balanced teams</p>
                <a class="btn pull-right btn-primary" href="https://play.google.com/store/apps/details?id=teampicker.teampicker">Launch <span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel app-link">
            <div class="panel-body">
                <h3>Horse Racing</h3>
                <p>Virtual horse race <span class="label label-primary">beta</span></p>
                <a class="btn pull-right btn-primary" href="https://lynxmagnus.com/horseracing">Launch <span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>
</div>
